RewriteEngine On

#for classes
#RewriteBase /~user15/booker/server/api/booker/


#for home
RewriteBase /booker/server/api/booker/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php

<Limit GET POST PUT DELETE>
Allow from all
</Limit>